<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<html>
    <head>
        <title>Joobs blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Joobs Blog</a></h1>
        </div>

        <div>
            <p>published: 12.01.2019, 17:23</p>
            <h2><a href="">My first post</a></h2>
            <p>짠나 짜장면 사줘서 고맙다.</p>
        </div>

        <div>
            <p>published: 12.01.2019, 17:24</p>
            <h2><a href="">My second post</a></h2>
            <p>홈페이지 무료로 만들어주마</p>
        </div>
    </body>
</html>